* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.app {
  color: black;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.timer {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.col-4 {
  float: left;
}

.box {
  font-weight: 300;
  padding: 25px;
}

.box-no-pad-side {
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 25px;
}

.box-small {
  font-weight: 300;
}

.box p {
  font-size: calc(8vh + 2vmin);
  margin: 0;
}

.box-no-pad-side p {
  font-size: calc(8vh + 2vmin);
  margin: 0;
}

.text {
  font-size: 24px;
}

.timer-control-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  float: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: absolute;
}

.timer-control {
  background-color: rgba(255, 255, 255, 0.8);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

.settings {
  position: absolute;
  top: 0px;
  right: 0px;
}
